/* PT Sans */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 40px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
}
.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.logo-link {
    width: 139px;
    margin-right: 47px;
}
.navigation-list {
    width: 345px;
    margin: 0;
    padding: 0%;
}
.navigation-user {
    max-width: 264px;
    margin-left: auto;
}
.navigation-link {
    color: #000000;
    text-decoration: none;
    text-align: center;
}
/* кнопки */
.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    background-color: #756257;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
.button-invite {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #756257;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 4px;
}
.button-search {
    font-size: 20px;
    line-height: 36px;
}
.button-sort {
    color: #000000;
    background: #FFFFFF;
}
.button-lightblue {
    background-color: #83B3D3;
}
.button-more {
    font-size: 20px;
    line-height: 26px;
}
.button-cancel {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    text-transform: inherit;
    background:transparent;
    border: 0;
}
.favourites {
    background-color: #7DB54F;
}
.page-header {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.navigation-list-item {
    list-style-type: none;
}
.main-index {
    flex-grow: 1;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.welcome-logo {
    display: block;
    margin: 0 auto;
}
.main-promo-first {
    color: #000000;
    background-color: #81B3D3;
    background-image: url("../images/index-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    line-height: 36px;
}
.about-sedona {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 720px;
    padding: 0;
    margin: 0 auto;
}
.reasons {
    color: #333333;
    font-size: 22px;
    line-height: 36px;
    width: 720px;
    margin: 0 auto;
}
/* Преимущества */
.advantages {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}
.advantages-title,
.includ-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}
.includ-description {
    color: #333333;
}
.advantages-description {
    color: #333333;
}
.white-description {
    color: #FFFFFF;
}
.advantages-list-item {
    background-color: rgba(131, 179, 211, 0.12);
}
.blue-box {
    background-color: #83B3D3;
    color:#FFFFFF;
}
.includ-item {
    background-color: rgba(131, 179, 211, 0.12);
}
.white-box {
    background-color: #FFFFFF;
}
.dark-grey {
    background-color: rgba(131, 179, 211, 0.2);
}
/* Поиск отелей */
.search-hotel {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}
.search-hotel-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}
.search-hotel-description {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
}
.mailing {
    background-color: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    background-image: url("../images/mailing-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.mailing-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}
.mailing-description {
    font-size: 22px;
    line-height: 26px;
}
/* footer */
.social-contacts {
    list-style-type: none;
}
.phone-link {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    
}
.filter-box {
    background-image: url("../images/background-cataloge-filter.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    background-color: #83B3D3;    
    line-height: 23px;
}
.inner-header-title {
    font-size: 60px;
    text-align: left;
    line-height: 78px;
    font-weight: 700;
}
.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
}
.breadcrumbs-link {
    text-decoration: none;
    color: #FFFFFF;
}
.selection-filter-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.optical {
    text-align: right;
    opacity: 0.3;
}
.sorting-title {
    text-transform: uppercase;
    line-height: 39px;
    font-size: 30px;
    font-weight: bold;
}
.select-control {
    color: #333333;
    line-height: 23px;
}

.appartment-card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.appartment-card-description,
.appartment-card-price {
    line-height: 23px;
    color: #333333;
}
.raiting-point {
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
}
.pagination-link {
    background-color: #83B3D3;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
.amount-show {
    line-height: 23px;
    color: #333333;
}
.cataloge-mailing {
    color: #333333;
    text-align: center;
}
.cataloge-mailing-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
}