/* Шрифты PT Sans */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
/* Обертка контента главной страницы */
.page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
}
/* Скрытие элементов */
.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* Навигация */
.navigation {
    display: grid;
    grid-template-columns: 139px 1fr auto;
    gap: 47px;
    width: 1060px;
    margin: 0 auto;
}
/* Логотип сайта */
.logo-link {
    width: 139px;
    height: 70px;
}
/* Навигация по страницам */
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;
}
/* Элементы списка навигации */
.navigation-list-item:not(:last-child) {
    margin-right: 34px;
}
/* Ссылки в навигации */
.navigation-link {
    display: block;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 20px;
}
.navigation-link-current {
    padding-bottom: 18px;
    border-bottom: 2px solid #756257;
}
.navigation-link:hover:not(.button-invite) {
    color: #756257;
}
.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}
/* Пользовательское меню */
.navigation-user {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    list-style-type: none;
}
.navigation-user-item {
    position: relative;
}
.navigation-user-item:nth-child(2) {
    margin-right: 20px;
}
.navigation-user-link {
    display: block;
    padding: 33px 21px;
    position: relative;
}
.number-favourites {
    position: absolute;
    top: 15px;
    left: 22px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50%;
  }
.button-invite:hover,
.button-card-showmore:hover,
.button-search:hover {
    background-color: #615048;
}
.button-invite:focus,
.button-card-showmore:focus,
.button-search:focus {
    outline: 3px solid #83B3D3;
}
.button-invite:active,
.button-card-showmore:active,
.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #615048;
    outline: none;
  }
.navigation-user-link .navigation-icon:hover {
    fill: #756257;
}
.navigation-user-link .navigation-icon:active {
    color: rgba(117, 98, 87, 0.3);
  }
.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}
/* кнопки */
.button {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    background-color: #756257;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
/* Кнопка "Хочу сюда" */
.button-invite {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #756257;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none; 
    border-radius: 4px;
    padding: 8px 36px;
    margin-top: -6px;
    max-width: 160px;
    border-color: #756257;
}
/* Кнопка поиска гостинц */
.button-search {
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    margin: 0 auto;
    margin-bottom: 96px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 10px;
}
/* Кнопки синего цвета */
.button-lightblue {
    background-color: #83B3D3;
    border-color: #83B3D3;
}
/* Кнопка "Загрузить еще" */
.button-more {
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto;
    width: 620px;
    align-self: start;
}
/* Добавленные в избранное */
.selected {
    background-color: #7DB54F;
    border-color: #7DB54F;
}
 
/* Шапка */
.page-header {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: -5px;
    z-index: 1;
    position: relative;
}
/* Стики футер */
.main-index {
    flex-grow: 1;
    margin: 0 auto;
}

/* Блок приветсвенного слова */
.welcome-logo-wrapper {
    min-height: 485px;
    margin-bottom: 63px;
    background-image: url("../images/divider.svg"),
    url("../images/index-background.png");
    background-repeat: no-repeat,
    no-repeat;
    background-position: 0 429px,
    0 0;
    background-color: transparent;
    background-size: contain,
    cover;
}
/* Приветсвенное слово */
.welcome-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}
/* О Седоне */
.about-sedona {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 720px;
    min-height: 72px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 31px;
    text-align: center;
}
/* О причинах посещения Седоны */
.reasons {
    color: #333333;
    font-size: 22px;
    line-height: 36px;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
}
/* Преимущества */
.advantages-item-photo {
    display: block;
}
.advantages {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    margin-bottom: 91px;
}
/* Список преимуществ */
.advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.advantages-number {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.advantages-list-item:first-child {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
}
.advantages-list-item:nth-child(2) {
    width: 1200px;
}
/* Вложенные подпреимущества в первом пункте */
.advantages-sublist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/* Заголовки преимуществ */
.advantages-title,
.subitem-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    text-align: center;
}
.advantages-title {
    max-width: 172px;
    margin: 0 auto;
    margin-bottom: 28px;
    
}
.advantages-subitem {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.advantages-subitem:nth-child(1) {
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    background-size: 75px 72px;
    background-position: center top 89px;
}
.advantages-subitem:nth-child(2) {
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    background-size: 74px 70px;
    background-position: center top 89px;
}
.advantages-subitem:nth-child(3) {
    background-image: url("../images/gifts.svg");
    background-repeat: no-repeat;
    background-size: 64px 76px;
    background-position: center top 89px;
}
/* Описание вложенных преимуществ */
.subitem-description {
    color: #333333;
    margin: 0 auto;
    width: 250px;
    padding-bottom: 89px;
}
.subitem-title {
    max-width: 250px;
    margin-top: 184px;
    margin-bottom: 20px;
}

/* Контейнер первого преимущества */
.first-advantage-container {
    display: flex;
}
/* Контейнер второго преимущества */
.second-advantage-container {
    display: flex;
}
/* Описание преимуществ */
.advantages-description {
    color: #333333;
    max-width: 250px;
    margin: 0 auto;
    min-height: 63px;
}
/* Обертка описания преимущества №2 */
.container-devil {
    margin: 0 auto;
}
.white-description {
    color: #FFFFFF;
}
/* Элементы списка преимуществ */
.advantages-list-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    margin: 0 auto;
    padding-top: 98px;
    padding-bottom: 87px;
}

/* Синяя обертка блоков */
.blue-box {
    background-color: #83B3D3;
    color:#FFFFFF;
    width: 400px;
    padding-top: 98px;
    padding-bottom: 86px;

}
/* Элементы вложенного списка преимуществ №1 */
.advantages-subitem {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    box-sizing: border-box;
}
/* Белая обертка */
.white-box {
    background-color: #FFFFFF;
}
/* Серая обертка */
.dark-grey {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-city,
.second-advantage-container {
    padding: 0;
}
/* Поиск отелей */
.search-hotel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}
.search-hotel-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 29px;
}
.search-hotel-description {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    width: 720px;
    margin: 0 auto;
    margin-bottom: 53px;
}
/* Рассылка */
.mailing {
    display: flex;
    flex-direction: column;
    background-color: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    background-image: url("../images/mailing-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 411px;
}
.mailing-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 720px;
    margin: 0 auto;
    padding-top: 94px;
    margin-bottom: 29px;
}
.mailing-description {
    font-size: 22px;
    line-height: 26px;
    width: 476px;
    min-height: 52px;
    margin: 0 auto;
    margin-bottom: 46px;
}
.mailing-form {
    display: flex;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 92px;
}
.mailing-area {
    margin-right: 0;
    padding: 0;
    min-width: 600px;
    font-size: 18px;
    line-height: 26px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding-left: 22px;
    color: #000000;
}
.mailing-area:hover {
    background-color: #E6E6E6;
}
.mailing-area:focus {
    outline: 3px solid #83B3D3;
}
.mailing-area::placeholder {
    opacity: 0.6;
}
.mailing-area:disabled {
    outline: 2px solid #FF5757;
}
.input-error {
    outline: 2px solid #FF5757;
    opacity: 0.6;
}
.button-agree {
    width: 200px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    line-height: 26px;
    padding: 17px 20px;
}
.button-agree:hover {
    background-color: #68A2CA;
}
.button-agree:focus {
    outline: 3px solid #756257;
}
.button-agree:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
  }
/* footer */
.main-footer {
    width: 1200px;
}
.footer-contacts {
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    width: 1060px;
    margin: 0 auto;
}
.social-contacts {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 56px;
    max-width: 140px;
}
.social-contacts-item {
    min-width: 20px;
}

.social-link {
    display: block;
    padding: 2px 5px 5px 3px;
    background-position: center;
    background-repeat: no-repeat;
    color: #83B3D3;
}
.social-link:hover {
    color: #68A2CA;
}
.social-link:focus {
    color: #68A2CA;
    border-radius: 2px;
    outline: 3px solid;
    outline-offset: 10px;
}
.social-link:active {
    color: #68A2CA;
    opacity: 0.3;
}
.twitter-link {
    /* background-image: url("/images/twitter.svg"); */
    margin-right: 20px;
}
.facebook-link {
    /* background-image: url("/images/facebook.svg"); */
    margin-right: 22px;
    width: 10px; 
}
.youtube-link {
    /* background-image: url("/images/youtube.svg"); */
    width: 20px; 
}
.phone-number {
    width: 720px;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 53px;
}
.phone-link {
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}
.phone-link:hover {
    color: #756257;
}
.phone-link:focus {
    color: #756257;
    border-radius: 2px;
    outline: 3px solid #68A2CA ;
    outline-offset: 10px;
}
.phone-link:active {
    color: #756257;
    opacity: 0.3;
}
.htmlacademy-link {
    display: block;
    color: #000000;
    width: 115px;
    height: 34px;
    padding: 0;  
}
.htmlacademy-link:hover {
    color: #756257;
}
.htmlacademy-link:focus {
    color: #756257;
    border-radius: 2px;
    outline: 3px solid #68A2CA ;
    outline-offset: 10px;
}
.htmlacademy-link:active {
    color: #756257;
    opacity: 0.3;
}

/* Каталог стики футер*/
.main-inner {
    flex-grow: 1;
    margin: 0 auto;
}
/* Фильтр каталога гостиниц */
.filter-box {
    background-image: url("../images/background-cataloge-filter.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-color: #83B3D3;    
    line-height: 23px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 41px 72px 0 71px;
}
.selection-block {
    width: 1056px;
}
/* Форма фильтра гостиниц */
.selection-form {
    display: flex;
    padding-bottom: 82px;
}
.catalog-filter-group {
    border: 0;
    margin: 0;
    padding: 0;
}
.catalog-filter-group + .catalog-filter-group:not(:last-of-type) {
    padding-right: 161px;
}
.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}
.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.inner-header-title {
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    margin: 0;
}
/* Хлебные крошки */
.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}
.breadcrumbs-item:not(:last-child) {
    position: relative;
    margin-right: 20px;
}
.breadcrumbs-link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 4px 0 2px;
}
.breadcrumbs-item::before {
    position: absolute;
    display: block;
    top: 8px;
    left: 25px;
    width: 5px;
    height: 8px;
    background-image: url("../images/nav-link.svg");
    background-repeat: no-repeat;
    content: "";
}
.breadcrumbs-link:hover {
    opacity: 0.6;
}
.breadcrumbs-link:focus-within {
    border-radius: 2px;
    outline: 3px solid #83B3D3;
}
.breadcrumbs-link:active {
    opacity: 0.3;
}
.selection-filter-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    min-width: 150px;
    padding: 0;
    margin-bottom: 30px;
}
.control {
    position: relative;
    display: block;
    padding-left: 39px;
}
.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
}
 .control:hover .control-mark {
    opacity: 0.6;
}
.control:focus-within .control-mark {
    opacity: 0.6;
    outline: 3px solid #83B3D3;
}
.control:active .control-mark {
    opacity: 0.3;
}
.control:disabled .control-mark {
    opacity: 0.1;
}
.control-type {
    border-radius: 50%;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.control-input[type="radio"]:checked + .control-mark::before {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-radio.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.infro {
    padding-right: 67px;
}
 .cost {
    display: flex;
    flex-wrap: wrap;
    min-width: 287px;
    position: relative;
    padding-right: 81px;
}
.optical-from::before {
    text-align: right;
    opacity: 0.3;
    position: absolute;
    left: 112px;
    top: 12px;
    content: "от";
}
.optical-to::before {
    text-align: right;
    opacity: 0.3;
    position: absolute;
    left: 250px;
    top: 12px;
    content: "до";
}
.cost-from {
    height: 48px;
}
.cost-to {
    height: 48px;
}
.range-scale {
    position: relative;
    width: 100%;
    height: 4px;
    margin-top: 18px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}
.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.range-toggle:hover {
    background-color: #3F5E72;
}
.range-toggle:focus-within {
    outline: 3px solid #83B3D3;
}
.range-toggle:active  {
    outline: 2px solid #83B3D3;
}
.toggle-min {
    top: -8px;
    left: 0;
}
.toggle-max {
    top: -8px;
    right: 51px;
}
.sorting-contol {
    margin-top: 44px;
}
/* Обертка выбора фильтров гостиниц */
.sorting-control-container {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 53px;
    margin-top: 44px;
}
.filter-cost-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 36px;
}
/* Поле ввода стоимости */
.area-cost {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 144px;
    padding: 0;
    padding-left: 20px;
    height: 48px;
}
.area-cost {
    -moz-appearance: textfield;
}
.area-cost:hover {
    opacity: 0.6;
}
.area-cost:focus-within {
    box-shadow: inset 0px 0px 0px 3px #81B3D2,
    0px 0px 0px 3px #81B3D2;
    outline: #81B3D2;
}
.area-cost:disabled {
    opacity: 0.2;
}
.area-cost:active {
    background-color: #756257;
}
.area-cost-from {
    border-radius: 4px 0 0 4px;
}
.area-cost-to {
    border-radius: 0 4px 4px 0;
    margin-left: -2px;
}
.control-cost {
    width: 287px;
}
.button-filter {
    box-sizing: border-box;
    padding: 14px 35px;
    margin: 0;
    width: 160px;
}
.button-filter:first-child{
    margin-bottom: 18px;
}
/* Кнопка отмены */
.button-cancel {
    box-sizing: border-box;
    width: 100px;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding: 2px 4px;
}
.filter-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 60px;
}
.sorting-title {
    text-transform: uppercase;
    line-height: 39px;
    font-size: 30px;
    font-weight: bold;
    min-width: 337px;
    margin: 0;
    padding: 0;
    margin-right: 192px;
}
.select-control {
    color: #333333;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    padding: 10px 72px 11px 15px;
    background-image: url("../images/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 253px center;
    background-color: white;
    font-size: 18px;
    line-height: 23px;
    margin-right: 81px;
    appearance: none;
}
.select-control:hover {
    border: 2px solid #83B3D3;
}
.select-control:focus-within {
    outline: 2px solid #83B3D3;
}
.select-control:active {
    border: 2px solid #E6E6E6;
    opacity: 0.3;
}
.sort-range-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sort-range-item:not(:last-child) {
    margin-right: 8px;
}
.button-sort {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}
.button-sort-active {
    border: 2px solid #000000;
}
.button-sort:not(.button-sort-active):hover {
    border: 2px solid #83B3D3;
}
.button-sort.button-sort:not(.button-sort-active):focus-within {
    border: 2px solid #83B3D3;
}
.button-title {
    background-image: url("../images/sort-title.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.button-slideshow {
    background-image: url("../images/sort-slideshow.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.button-list {
    background-image: url("../images/sort-list.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.button-filter:hover {
    background-color: #68A2CA;
}
.button-filter:active {
    background-color: #68A2CA;
    opacity: 0.3;
    outline: none;
}
.button-filter:focus-within {
    background-color: #68A2CA;
    outline: 3px solid #FFFFFF;
}
.button-cancel:hover {
    opacity: 0.6;
    background: transparent;
}
.button-cancel:active {
    opacity: 0.3;
    outline: none;
}
.button-cancel:focus-within {
    background-color: transparent;
    border-radius: 4px;
    outline: 3px solid #83B3D3;
}
/* Кнопки отображения гостинц */

/* Карточки гостиниц */

.appartment-list {
    display: grid;
    grid-template-columns: repeat(3,340px);
    gap: 9px 18px;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 1056px;
    margin-bottom: 30px;
}
.card-link-image {
    order:-1;
}
.card-link-image:hover {
    opacity: 0.6;
}
.card-link-image:focus-within {
    outline: 3px solid #83B3D3;
}
.card-link-image:active {
    opacity: 0.3;
    outline: none;
  }
.appartment-card-image {
    display: block;
}
.appartment-card {
    width: 300px;
    display: grid;
    padding: 20px;
    gap: 16px;
}

.appartment-card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}
.card-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
}
.appartment-card-description{
    line-height: 23px;
    color: #333333;
    margin: 0;
    width: 133px;
    margin-bottom: 16px;
}
.appartment-card-price{
    line-height: 23px;
    color: #333333;
    margin: 0;
    width: 143px;
    margin-left: auto;
}
.button-card-showmore {
    display: flex;
    width: 133px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}
.favourites {
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 8px 10px;
}
.favourites:hover {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
  
.favourites:focus-within {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
  
.favourites:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.selected:hover {
    background-color: #6C9E42;
    outline: none;
  }
  
.selected:focus-within {
    color: #FFFFFF;
    background-color: #6C9E42;
    outline: 3px solid #756257;
}
  
.selected:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}
 
.icon-raiting-star {
    width: 43px;
    height: 17px;
    margin: 0;
    margin-top: 13px;
    align-self: center;
    background-image: url("../images/icon-star.svg");
    background-repeat: repeat-x;
}
.appartment-card:first-child .icon-raiting-star {
    width: 92px;
}
.appartment-card:nth-child(2) .icon-raiting-star {
    width: 68px;
}
.raiting-point {
    text-transform: uppercase;
    box-sizing: border-box;
    color: #333333;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 16px;
    padding: 9px 20px;
}
/* Пагинация */
.pagination-container {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    margin-bottom: 29px;
    padding: 30px 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}
.pagination-button {
    padding: 17px 0;
}
.pagination-button:hover {
    background-color: #68A2CA;
}
.pagination-button:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.pagination-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}
.pagination-pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
    margin-bottom: 65px;
}
.pagination-link {
    background-color: #83B3D3;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    display: block;
    min-width: 55px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
}

.pagination-link:not(.pagination-current):hover {
    background-color: #68A2CA;
}
.pagination-link:not(.pagination-current-active):focus-within {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.pagination-link:not(.pagination-current):active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}
.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}
.amount-show {
    width: 387px;
    line-height: 23px;
    color: #333333;
}
.amount-page {
    width: 160px;
    margin-left: 47px;
    margin-right: 0;
    padding: 12px 93px 12px 12px;
    background-position: 126px center;
}
.pagination {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination-item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
  }

/* Рассылка новостей */
.cataloge-mailing {
    display: flex;
    flex-direction: column;
    color: #333333;
    text-align: center;
}
.cataloge-mailing-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 46px;
}
.cataloge-mailing-description {
    margin: 0 auto;
    margin-bottom: 46px;
    padding: 0;
    width: 486px;
    min-height: 52px;
    font-size: 22px;
    color: #333333;
    line-height: 26px;
    text-align: center;
}
.cataloge-mailing-form {
    display: flex;
    justify-content: center;
    min-width: 800px;
    margin-bottom: 141px;
}
/* Модальное окно */
.fixed-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}
.modal-container-hide {
    display: none;
}
.reset-indents {
    border: none;
    padding: 0;
    margin: 0;
}
.modal-window {
    position: relative;
    box-sizing: border-box;
    width: 715px;
    margin: auto;
    padding: 70px;
    padding-top: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}
.modal-button-close {
    position: absolute;
    cursor: pointer;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    padding: 0;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
}
.modal-button-close::before {
    display: flex;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    background-image: url("../images/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.modal-button-close:hover {
    background-color: #E6E6E6;
}
.modal-button-close:focus {
    outline: 3px solid #83B3D3;
}
.modal-button-close:active {
    background-color: #E6E6E6;
    outline: none;
}
.modal-button-close:active::before {
    opacity: 0.3;
}
.modal-title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}
.modal-form-field-group {
    margin-bottom: 12px;
}
.date-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.date-wrapper::after {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-calendar.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    content: "";
}
.modal-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    align-self: center;
}
.modal-input {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.modal-input:disabled {
    opacity: 0.3;
}
.input-date {
    width: 420px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    padding: 5px 34px 5px 19px;
}
.input-date:hover {
    background-color: #E6E6E6;
}
.input-date:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}
.input-date:active {
    background-color: #FFFFFF;
    outline: 3px solid #000000;
}
.inform-discription {
    margin: 0;
    margin-left: 155px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.error-form {
    color: #FF5757;
}
.count-guests {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.count-wrapper {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count-wrapper-adult {
    width: 288px;
    margin-right: 56px;
}
.reduce {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 13px;
    left: 168px;
    background-image: url("../images/icon-minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.3;
}
.add {
    position: absolute;
    top: 13px;
    left: 250px;
    width: 25px;
    height: 25px;
    background-image: url("../images/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    opacity: 0.3;
}
.reduce:hover,
.add:hover {
    opacity: 1;
}
.reduce:focus,
.add:focus {
    border-radius: 4px;
    outline: 3px solid #83B3D3;
}
.reduce:active,
.add:active {
    opacity: 0.2;
}
.count-wrapper-children {
    width: 230px;
}
.count-wrapper-children .reduce {
    left: 112px;
}
.count-wrapper-children .add {
    left: 193px;
}
.count-input {
    width: 133px;
    padding: 5px 32px;
    text-align: center;
}
/* .count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
} */
.count-input,
.count-input:hover,
.count-input:focus {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}
.tooltip {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.tooltip-toggle {
    width: 25px;
    height: 25px;
    background-color: #83B3D3;
    border-radius: 50%;
    border: none;
}
.tooltip-icon {
    color: #FFFFFF;
}
.tooltip-text {
    position: absolute;
    top: 29px;
    left: -112px;
    z-index: 1;
    display: none;
    box-sizing: border-box;
    width: 256px;
    margin-top: 15px;
    padding: 19px 19px 24px 21px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}
.tooltip-text::before {
    position: absolute;
    top: -6px;
    left: 45%;
    width: 19px;
    height: 19px;
    background-color: #333333;
    content: "";
    transform: rotate(45deg);
}
.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68A2CA;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.modal-button-search {
    width: 100%;
    padding: 8px 0 12px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #83B3D3;
    border: none;
    border-radius: 10px;
}
.modal-button-search:hover {
    background-color: #68A2CA;
}
.modal-button-search:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}
.modal-button-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}
